<footer class="footer">
    <div class="footer__btn-top bright-shadow__transition">
        <a href="#index">
            <img class="scroll-top__img rotate__animation" src="./assets/images/ico-arrow.svg" alt="">
        </a>
    </div>
    <nav class="footer__menu">
        <ul class="menu-footer__principal">
            <li><a class="link__main-nav" href="#">Article</a></li>
            <li><a class="link__main-nav" href="#">Books</a></li>
            <li><a class="link__main-nav" href="#">Events</a></li>
            <li><a class="link__main-nav" href="#">Reasons</a></li>
            <li><a class="link__main-nav" href="#">Tips</a></li>
        </ul>
        <ul class="menu-footer__social">
            <li><a class="link__social-nav" href="#">Twitter</a></li>
            <li><a class="link__social-nav" href="#">Instagram</a></li>
            <li><a class="link__social-nav" href="#">Mastodon.social</a></li>
        </ul>
    </nav>
    <p class="copyright">©2017</p>
    <p class="claim">We <span class="heart">❤</span> components</p>

</footer>