<footer>
    <div>
        <a href="#">
            <img src="" alt="">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="">Article</a></li>
            <li><a href="">Books</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Reasons</a></li>
            <li><a href="">Tips</a></li>
        </ul>
        <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Mastodon.social</a></li>
        </ul>
    </nav>
    <p>©2017</p>
    <p>We ❤ components</p>

</footer>