<header id="" class="main-header">
    <button class="main-header__menu">
        <img class="menu__img" src="./assets/images/ico-menu.svg" alt="">
    </button>
    <section class="main-header__hero">
        <div class="hero-text">
            <h1 class="hero-text__title">Anonymous proxy</h1>
            <h2 class="hero-text__subtitle">In hac habitasse platea dictumst.</h2>
        </div>
    </section>
    <div class="main-header__next-section">
        <a href="#principal-content">
            <img class="scroll-down__img" src="./assets/images/ico-scroll-down.svg" alt="">
        </a>
    </div>
</header>