<main id="principal-content">
    <section>
        <h2>Insomnia tips</h2>
        <h3>Looking through a window</h3>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button>Go</button>
    </section>
    <section>
        <h2>3 Reasons To Purchase</h2>
        <div>
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div>
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div>
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
        <button>More reason</button>
    </section>
</main>