<main id="principal-content" class="content">
    <section class="content__principal">
        <p class="principal__info">Insomnia tips</p>
        <h2 class="title title__principal-margin">Looking through a window</h2>
        <p class="principal__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <a class="btn btn-principal grow__transition">Go</a>
    </section>
    <section class="content__secondary grid">
        <h2 class="title title__secondary-margin grid__item-1">3 Reasons To Purchase</h2>
        <ul class="grid__item-2 article">
            <li class="article__list">
                <h3 class="secondary__subtitle">Ut sed metus</h3>
                <p class="secondary__text">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="article__list">
                <h3 class="secondary__subtitle">Curabitur ac erat</h3>
                <p class="secondary__text">Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="article__list">
                <h3 class="secondary__subtitle">Morbi dictum</h3>
                <p class="secondary__text">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <a class="btn btn-secondary bg-color__transition grid__item-3">More reason</a>
    </section>
</main>