*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: $font-principal;
    font-size: $font-sizeDefault;
    font-weight: $font-weightDefault;
    line-height: 1.67;
    color: $color-greyCybermen;
    background-color: $color-whiteRose;
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    background-color: transparent;
}