.footer {
    background-color: $color-blueSea;
    color: $color-whiteRose;
    position: relative;
    padding: 60px 0 55px;
    text-align: center;
}

.copyright,
.claim {
    font-size: 14px;
    line-height: 2.14;
    text-transform: lowercase;
}

.heart {
    color: $color-redDalek;
}