.footer {
    background-color: $color-blueSea;
    color: $color-whiteRose;
    position: relative;
    padding: 60px 0 55px;
    text-align: center;
    @media all and (min-width: $mediaTablet) {
        padding: 45px 60px 45px 39px;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    @media all and (min-width: $mediaTablet) {
        padding: 45px 400px;
    }
}

.copyright__wrapper {
    order: 1;
}

.copyright,
.claim {
    font-size: 14px;
    line-height: 2.14;
    text-transform: lowercase;
}

.heart {
    color: $color-redDalek;
}