.main-header {
    position: relative;
    &__hero {
        min-height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-image: url(../images/cover.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: $color-whiteRose;
    }
}

.hero-text {
    position: absolute;
    top: 284px;
    left: 50%;
    transform: translateX(-50%);
    @media all and (min-width: $mediaTablet) {
        top: 25%;
    }
    &__title {
        font-family: $font-secundary;
        font-size: 42px;
        line-height: 1.31;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        @media all and (min-width: $mediaTablet) {
            font-size: 80px;
            line-height: 1.33;
        }
    }
    &__subtitle {
        font-size: 16px;
        font-weight: $font-weightDefault;
        text-align: center;
        @media all and (min-width: $mediaTablet) {
            font-size: 24px;
        }
    }
}