.content {
    &__principal {
        padding: 30px 15px 45px;
    }
    &__secondary {
        padding: 30px 15px 60px;
        background-color: $color-blueIce;
        text-align: center;
    }
}

.title {
    font-family: $font-secundary;
    font-size: 24px;
    line-height: 1.25;
    color: $color-blackVader;
    text-transform: capitalize;
    &__principal-margin {
        margin-bottom: 15px;
    }
    &__secondary-margin {
        margin-bottom: 45px;
    }
}

.principal {
    &__info {
        color: $color-blueSky;
        font-size: 14px;
        font-weight: $font-weightDefault;
        line-height: 2.14;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    &__item-3 {
        margin: 0 auto;
    }
}

.secondary {
    &__subtitle {
        font-family: $font-secundary;
        font-size: 18px;
        line-height: 1.67;
        color: $color-blackVader;
    }
    &__text {
        max-width: 190px;
        margin: 0 auto 45px;
    }
}

.article {
    &__list:last-child{
        p {
            margin-bottom: 0;
        }
    }
}