// Colors
$color-redDalek: #f26002;
$color-whiteRose: #fff;
$color-blueIce: #eff9ff;
$color-blueSky: #8ccbea;
$color-blueTardis: #0271bc;
$color-blueSea: #304268;
$color-greyCybermen: #4a4a4a;
$color-blackVader: #000;
// Fonts
$font-principal: 'Roboto', sans-serif;
$font-secundary: 'Roboto Slab', serif;
$font-sizeDefault: 18px;
$font-weightDefault: 400;
// Mediaqueries
$mediaTablet: 768px;
$mediaDesktop: 1200px;